<%= form_for @pixar do |f| %>
    # データ型がstringで自由記述の入力フォーム
    <div class="field">
      <%= f.label :タイトル %>
      <%= f.text_field :name, :size => 30 %>
    </div>
     
     <div class="field">
     <%= f.label :画像 %>
     <%= f.text_field :picture, :size => 30 %>
   </div>
    
        
    <div class="field">
      <%= f.label :動画 %>
      <%= f.file_field :video, :accept => 'video/*' %>
    </div>


  <div class="field">
    <%= f.label :本文 %>
    <%= f.text_area :main, :size => "30x2" %>
  </div>

<div class="field">
<%= f.label :備考欄  %>
<%= f.text_area :mouse, :size => "30x2" %>
</div> 

    <%= f.submit "編集する" %>
  <% end %>